<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food blog</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

    

</head>
<body>
    <div class="cointainer">
        <div class="main ">
            <form action="submit" method="post">
                <h1 class="login">Login </h1>
                <input class="sub" type="text" name="email" placeholder="Username/email"><br>
                <input class="sub" type="text" name="password" placeholder="password"><br>
                <input class="button" type="submit" value="submit">
            </form>

        </div>

    </div>
</body>
</html>