.cointainer{
    background-image:url("/images/dosa\ background.jpg");
    display: flex;
    height: 852px;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.main{
    background-color: rgb(97, 12, 12);
    opacity: 60%;
    display: flex;
    height: 300px;
    width:500px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.sub{
    height: 40px;
    font-size: 25px;
    margin: 10px;
    padding: 0;
    background-color: azure;
    display: flex;
    align-content: center;
    border-radius: 20%;
}
.button{
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 110px;
    border-radius: 20%;
    
}
.login{
    text-align: center;
    color: beige;
}